<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者ログイン画面</title>
</head>
<body>
	<header>
		<h1>管理者ログイン</h1>
	</header>
	
	<p th:if="${errormsg}" th:text="${errormsg}" style="color:red"></p>
	<main>
		<form action="/admin/login" method="post">
			<table>
			<tr>
				<th>管理者メールアドレス</th>
				<td>
					<input type="text" name="email">
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" name="password">
				</td>
			</tr>
			</table>
			<br>
			<button>ログイン</button>
		</form>
	</main>
</body>
</html>