<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>ホテル一覧</h1>
	<a href="/admin/accommodation">全ホテル</a>
	<a th:each="cateogry:${categories}"
		th:href="@{/admin/accommodation(categoryId=${category.id})}"
		th:text="${category.name}"></a>
		
	<table border="1">
		<tr>
			<th>ID</th>
			<th>ホテル</th>
			<th>カテゴリー</th>
			<th>住所</th>
			<th>電話番号</th>
		</tr>
		<tr th:each="accommodation:${accommodations}">
			<td th:text="${accommodation.id}"></td>
			<td th:text="${accommodation.name}"></td>
			<td th:text="${accommodation.categoryId}"></td>
			<td th:text="${accommodation.address}"></td>
			<td th:text="${accommodation.tel}"></td>
		</tr>
	</table>
</body>
</html>