<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ホテル一覧画面</title>
</head>
<body>
	<header th:replace="header"></header>

	<table border="1">
		<tr>
			<th>NO</th>
			<th>ホテル名</th>
			<th>日付</th>
			<th>住所</th>
			<th>対応言語</th>
			<th>風呂タイプ</th>
			<th>最安値</th>
			<th>詳細</th>
		</tr>
		<tr th:each="accommodation:${accommodations}">
			<td th:text="${accommodation.id}"></td>
			<td>
				<a th:href="'/accommodation/'+${accommodation.id" th:text="${accommodation.name}"></a>
			 </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		
	</table>
	
	
</body>
</html>