<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規会員登録完了画面</title>
</head>
<body>
	<th:block th:replace="~{header :: header_fragment(
					title='会員登録完了'
					)}"></th:block>
	
	<main>
		<h1>以下の内容で登録しました</h1>
		<h2>会員登録ありがとうございます</h2>
<!--		<table border="1">-->
<!--			<tr>-->
<!--				<th>-->
<!--					名前-->
<!--					<td th:text="${name}"></td>-->
<!--				</th>-->
<!--			</tr>-->
<!--			<tr>-->
<!--				<th>ニックネーム</th>-->
<!--				<td th:text="${nickname}"></td>-->
<!--			</tr>-->
<!--			<tr>-->
<!--				<th>生年月日</th>-->
<!--				<td th:text="${birthday}"></td>-->
<!--			</tr>-->
<!--			<tr>-->
<!--				<th>電話番号</th>-->
<!--				<td th:text="${tel}"></td>-->
<!--			</tr>-->
<!--			<tr>-->
<!--				<th>性別</th>-->
<!--				<td th:text="${gender}"></td>-->
<!--			</tr>-->
<!--			<tr>-->
<!--				<th>住所</th>-->
<!--				<td th:text="${address}"></td>-->
<!--			</tr>-->
<!--			<tr>-->
<!--				<th>メールアドレス</th>-->
<!--				<td th:text="${email}"></td>-->
<!--			</tr>-->
<!--			<tr>-->
<!--				<th>パスワード</th>-->
<!--				<td th:text="${passwordMask}"></td>-->
<!--			</tr>-->
<!--		</table>-->
		
		<a href="/login">ログイン画面に戻る</a>
	</main>

</body>
</html>