<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
	.popupWraper{
	    position: relative;
	}
	#check-popup{
			display: none;
			position: absolute;
			border: 3px solid black;
		}
</style>
<body>
	<main class="popupWraper">
	<table>
	<tr>
	<th>ホテル名</th>
	<th>日時</th>
	<th>部屋タイプ</th>
	<th>キャンセル</th>
	</tr>
	<tr th:each="reserve:${reserves}">
	<td th:text="${reserve.plan.accommodation.name}"></td>
	<td th:text="${reserve.plan.date}"></td>
	<td th:text="${reserve.plan.roomType.name}"></td>
	<td><button id="cancel-btn">キャンセル</button></td>
	</tr>
	</table>
	<a>宿一覧へ</a>
<!--	ポップアップ-->
	<section id="check-popup">
		<p>予約をキャンセルしますか？</p>
		<table>
			<tr>
				<td><button>戻る</button></td>
				<td><button>削除</button></td>
			</tr>
		</table>
	</section>
	</main>
	<script>
		let btnE1 = document.getElementById("cancel-btn");
		let popE1 = document.getElementById("check-popup");
		
		btnE1.addEventListener("click",function(){
			console.log("クリック");
			popE1.style.display ="block";
		})
	</script>
	
</body>
</html>