<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
	<header>
		<h1>Goatravel</h1>
	</header>
	<h3>ログイン</h3>
    <main>
        <form action="/login" method="post"  >
			<p th:text="${message}" style="color:rgb(255, 0, 0)"></p>
            <input type="text" name="email" placeholder="メールアドレス"></br>
			<input type="text" name="password" placeholder="パスワード"> <br>
            <button>ログイン</button>
        </form>
    </main>
	<form action="/signup" method="get">
		<button type="submit">アカウント新規作成</button>
	</form>
</body>
</html>
